/* ################### Header  ############################### */
*{
    font-family: Georgia;
    
}
.navigation li{
    list-style-type: none;
    cursor: pointer;
}
header{
    display:grid;
    grid-template-columns: 30px 1fr 2fr;
    background-color: rgb(255, 255, 118);
    font-size: larger;
    padding-left: 10px;
    padding-right: 10px;
    align-items: end;
    margin: 0;
    padding-top:15px;
    padding-bottom: 15px;
    /* height: 31.47px; */
}
header img{
    width: 100%;
    height: auto;
    /* border: 1px solid black; */
}

.navigation ul{
    display: flex;
    gap: 10px;
    align-items: end;
    padding: 0;
    margin: 0;
}
.navigation{
    display:flex;
    justify-self:end;
    gap: 10px;
    /* border: 1px solid black; */
}
.navigation li img{
    width:29.99px;
    height:29.99px;
    display: block;
}


/* ############################################################## */
.menuT {
	margin: 1rem auto;
	padding: 0.5rem;
	background-color: #a7a6a3;
	text-align: center;
}
.menuT button{
    padding:10px;
    margin-right: 10px;
}
























/* ################ footer #################### */
footer{
    margin-top: 20px;
    display:grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content:space-around;
    background-color: rgb(255, 255, 118);
    align-items: flex-start;
}
.foot{
    margin-top: 15px;
    position: relative;
    display: grid;
    grid-template-columns: 22px 22px 22px 22px ;
    gap: 15px;
    justify-content: center; 
}
.foot a img{
    width: 100%;
    border: 2px  rgb(68, 67, 67) dotted;
    padding: 5px;
    
}
.last{
    padding: 5px;
}
