a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
span {
  color: black;
}
footer p {
  color: black;
}

.manager {
  background-color: rgb(209, 207, 207);
  height: auto;
}
.marquee {
  color: rgb(95, 189, 243);
  animation: moveText 12s linear 2;
}

@keyframes moveText {
  from {
    transform: translateX(-100%); /* start off left */
  }
  to {
    transform: translateX(100%); /* move fully to right */
  }
}
#box1,
#box2,
#box3,
#box4,
#box5,
#box6,
#box7,
#box8,
#box9,
#box10 {
  background-color: rgb(95, 184, 243);
  border: 1px solid black;
  width: 50%;
}
::backdrop {
  background: rgba(15, 15, 15, 0.5);
}
.intro {
  text-align: center;
  margin: 20px;
}

@media screen and (min-width: 1025px) {
  #cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
  .manager {
    display: block;
    width: 400px;
    height: 400px;
    padding-bottom: 9px;
  }
  .manager button {
    width: 200px;
    letter-spacing: 1px;
    font-weight: bolder;
    background-color: rgb(16, 145, 231);
  }
  .manager h1 {
    font-size: 18px;
  }
  .manager img:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
  }
}
@media screen and (min-width: 641px) and (max-width: 1024px) {
  #cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .manager {
    width: 90%;
    height: auto;
    overflow: hidden;
    font-size: 12px;
    display: grid;
    /* grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto; */
    grid-template-areas:
      "image name"
      "image street"
      "image detail"
      "butt butt";
    padding-top: 0;
    text-align: left;
    padding-bottom: 0;
    border-radius: 10px;
  }
  .manager h1 {
    grid-area: name;
    margin: 0;
    padding-top: 10px;
    padding-left: 10px;
  }
  .manager .street {
    grid-area: street;
    padding-left: 10px;
  }
  .manager .detai {
    grid-area: detail;
    padding-left: 10px;
  }
  .manager img {
    grid-area: image;
    height: 100%;
  }
  .manager button {
    margin: 10px;
    width: auto;
    letter-spacing: 1px;
    font-weight: bolder;
    background-color: rgb(16, 145, 231);
    grid-area: butt;
  }
  /* ################ footer #################### */
  footer {
    margin-top: 20px;
    /* display: grid;
    grid-template-columns: auto auto auto; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
    background-color: rgb(16, 145, 231);
    align-items: center;
    font-size: smaller;
  }
  .foot {
    margin-top: 15px;
    position: relative;
    display: grid;
    grid-template-columns: 22px 22px 22px 22px;
    gap: 15px;
    text-align: center;
  }
  .foot a img {
    width: 100%;
    border: 2px dotted rgb(255, 251, 251);
    padding: 5px;
    margin: 10px;
  }
  .last {
    padding: 5px;
    text-align: center;
  }
  .before-last {
    text-align: center;
  }
}

@media screen and (min-width: 320px) and (max-width: 640px) {
  #cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .manager {
    width: 80%;
    height: auto;
    overflow: hidden;
    font-size: 12px;
    display: grid;
    grid-template-areas:
      "name"
      "image"
      "street"
      "detail";
    padding-top: 0;
    text-align: left;
    border-radius: 10px;
  }

  .manager h1 {
    grid-area: image;
    padding-left: 5px;
    padding-top: 10px;
  }
  .manager .detai {
    grid-area: detail;
  }
  .manager .street {
    grid-area: street;
  }
  .manager img {
    grid-area: name;
    padding-top: 0;
    margin-top: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .manager p {
    padding: 5px;
    margin: 0;
  }
  .manager button {
    letter-spacing: 1px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bolder;
    background-color: rgb(16, 145, 231);
  }
  footer {
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto 180px auto;
    align-items: center;
    justify-content: space-around;
  }
  /* ################ footer #################### */
  footer {
    margin-top: 20px;
    /* display: grid;
    grid-template-columns: auto auto auto; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
    background-color: rgb(16, 145, 231);
    align-items: center;
    font-size: smaller;
  }
  .foot {
    margin-top: 15px;
    position: relative;
    display: grid;
    grid-template-columns: 22px 22px 22px 22px;
    gap: 15px;
    text-align: center;
  }
  .foot a img {
    width: 100%;
    border: 2px dotted rgb(255, 251, 251);
    padding: 5px;
    margin: 10px;
  }
  .last {
    padding: 5px;
    text-align: center;
  }
  .before-last {
    text-align: center;
  }
}

@media screen and (max-width: 319px) {
  #cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .manager {
    width: 80%;
    height: auto;
    overflow: hidden;
    font-size: 12px;
    display: grid;
    grid-template-areas:
      "name"
      "image"
      "street"
      "detail";
    padding-top: 0;
    text-align: left;
    border-radius: 10px;
  }

  .manager h1 {
    grid-area: image;
    padding-left: 5px;
    padding-top: 10px;
  }
  .manager .detai {
    grid-area: detail;
  }
  .manager .street {
    grid-area: street;
  }
  .manager img {
    grid-area: name;
    padding-top: 0;
    margin-top: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .manager p {
    padding: 5px;
    margin: 0;
  }
  .manager button {
    margin: 10px;
    width: auto;
    letter-spacing: 1px;
    font-weight: bolder;
    background-color: rgb(16, 145, 231);
  }
}
