a {
  text-decoration: none;
}

.manager {
  background-color: rgb(209, 207, 207);
  height: auto;
}

@media screen and (min-width: 641px) {
}

@media screen and (max-width: 320px) {
  #cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .manager {
    width: 80%;
    height: auto;
    overflow: hidden;
    font-size: 12px;
  }
  .manager img {
    width: 90%;
    height: auto;
    object-fit: cover;
  }
  .manager p {
    padding: 5px;
  }
}
