@media screen and (min-width:320px){
    *{
    font-family: Georgia;
    
}
/* ################### Header  ############################### */
.first-part{
    display:grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 5px 2px 5px ;
    align-items: end;
    /* border-bottom: solid 1px black; */
    gap: 8px;
}
nav ul{
    list-style-type: none;
    padding-left: 0;
    margin:0;
}
.hamburger{
    display:none;
}
.first-part img{
    width: 100%;
    height: auto;
}
.navigation{
    display: flex;
    gap:15px;
    justify-content: start;
}
nav{
    background-color: rgb(68, 67, 67);
    /* padding: 5px 5px 5px 0; */
    padding:0;
    margin-top:4px;
}
nav li{
    text-align: center; 
    padding:15px;
    margin:0;
}
nav a{
    text-decoration: none;
    color:white;
    cursor: pointer;
}
nav a:hover{
    background-color: rgb(252, 252, 252);
    color:black;
}
/* ################################################################# */

/* #################### BODY ############################# */
.main div{
    background-color:rgb(182, 179, 179);
    /* border: solid 2px black; */
    margin:5px;
}
.photo img{
    width: 70%;
    height: auto;
    object-position: top;
    object-fit: cover;
    box-shadow:  -2px -2px 1.5px rgba(8, 8, 8, 0.5);
}
.go{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    /* height: 100%; */
    margin:0;
    /* padding-top: 30px; */
    text-align: center;
    align-content:center;
   
}
.main{
    display:grid;
    grid-template-columns: 1fr auto 200px;
    grid-template-rows: 1fr auto;
    justify-content: space-between;
    margin-bottom: 10px;
}
main h1{
    grid-column: 1/4;
}
.me{
    grid-column:1/3;
    border: solid black 2px;
}
.photo {
    border: solid black 2px;
    position: relative;
    grid-column: 3/4;
    padding:0;
}
.me p{
    padding-left: 10px;
    padding-right: 10px;
}

main h2{
    margin:0;
    background-color: rgb(68, 67, 67);
    color: white;
    text-align: center;
}

/* ################### Final Section  ############################ */
#section2 a{
    background-color:rgb(182, 179, 179);
    padding:10px;
    margin:5px;
    cursor: pointer;
    border-radius: 20px;
    text-align: center;
}

#section2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:5px;
}
.unique{
    text-align: center;
}
/* ################# crazyness ###################### */

#final-section a{
    background-color:rgb(182, 179, 179);
    padding:10px;
    margin:5px;
    cursor: pointer;
    border-radius: 20px;
    text-align: center;
}

#final-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:5px;
}
#lala p{
    text-align: center;
}
#final-section  #completed{
    background-color: rgba(182, 179, 179,0.3);
}

/* ################ footer #################### */

.foot{
    margin-top: 15px;
    position: relative;
    display: grid;
    grid-template-columns: 22px 22px 22px 22px ;
    justify-content: center;
    gap: 15px;
}
.foot a img{
    width: 100%;
    border: 2px  rgb(68, 67, 67) dotted;
    padding: 5px;
}
footer p{
    text-align: center;
}
.last{
    background-color:rgb(182, 179, 179);
    padding: 5px;
    align-content:center;
}
}

